body{
    font-family: roboto, sans-serif;
}

body a:link{
    text-decoration: none;
    color: black;
}

body a:visited {
    color: black;
}

header{
    margin: 50px;
}

.logo{
    width: 400px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.banderolelogo{
    background-color:rgb(24, 127, 161) ;
}
/*Bouton du panier*/
.panier {
    font-weight: bold;
    text-align: center;
    margin: 80px auto;
    cursor: pointer;
    font-size: 3rem;
    border: 2px rgb(24, 127, 161) solid;
    border-radius: 1rem;
    background-color: rgb(24, 127, 161);
    opacity: 1;
    transform: scale(1.05);
    transition: transform 400ms;
    width: 300px;
}

.panier:hover{
    opacity: .8;
    transform: scale(1);
}
/*Disposition des articles*/
.accueil {
    display: flex;
    flex-wrap: wrap;
}
/*articles des produits page accueil*/
.articleAccueil{
    background-color: rgb(24, 127, 161);
    width: 400px;
    border: 5px rgb(24, 127, 161) solid;
    border-radius: .5rem;
    margin: 50px auto;
    transition: transform 300ms;
}

.articleAccueil:hover{
    transform: scale(1.05);
}

.articleAccueil img{
    width: 100%;
    max-width: 400px; 
    max-height: 255px;
}

.articleAccueil p {
    padding-top: 20px;
    padding-left: 20px;
    color: blanchedalmond;
}
/*Nom de l'article*/
.articleAccueil h2 {
    padding-top: 20px;
    padding-left: 20px;
}

/*----------------------------Page de sélection---------------------------------------*/
.ajouterPanier{
    width: 50px;
}

 label {
    text-align: inherit;
    font-size: 2rem;
    margin-right: 50px;
}

h3{
    text-decoration: underline;
    font-size: 2rem;
}

.articleSelection{
    background-color: rgb(24, 127, 161);
    border: 5px rgb(24, 127, 161) solid;
    border-radius: .5rem;
}

.articleSelection img{
    width: 100%;
    max-width: 800px; 
    max-height: 555px;
    display: block;
    margin: auto;
}

.articleSelection p{
    color: blanchedalmond;
    font-size: 1.3rem;
    text-align: center;
    margin: 50px;
}

.articleSelection h2{
    text-align: center;
    font-size: 3rem;
}

/*-----------------------------Page du panier------------------------------------------*/

input{
    cursor: pointer;
    margin: 20px;
    height: 30px;
    font-size: 1.5rem;
}

legend{
    font-weight: bold;
}

.commande{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    border: 2px rgb(24, 127, 161) solid;
    border-radius: 1rem;
}


.coordperso{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 50px auto;
}
/*disposition des articles du panier*/

.revisioncommande{
    display: flex;
    flex-direction: column;
}

.revuearticles{
    max-width: 700px;
    margin: 50px auto;
}

.etoile{
    color: red;
}
/*somme totale à payer*/
 #TOTAL{
    margin: auto;
    text-align: center;
    display: block;
    font-weight: bold;
}
/*bouton de validation de commande*/
.passercommande{
    font-size: 2rem;
    font-weight: bold;
    border: 5px rgb(24, 127, 161) solid;
    border-radius: 1rem;
    cursor: pointer;
    display: block;
    margin: 50px auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
    background-color:rgb(24, 127, 161) ;
    color: blanchedalmond;
    text-align: center;
}


.logo-footer{
    width: 200px;
    display: block;
    margin: 0 50px;
}

@media screen and (max-width:1160px){
    .logo-footer{
        display: none;
    }
}



